<div class="embedExternal embedImage display-{{ displaySize }} float-{{ float }}">
    <div class="embedExternal-content">
        <a class="embedImage-link" href="{{ sanitizeUrl(url) }}" rel="nofollow noreferrer noopener ugc" target="_blank">
            <img class="embedImage-img" src="{{ url }}" alt="{{ name }}"/>
        </a>
        <div class="embedImage-img-copyright-wrapper">
            <p class="embedImage-img-copyright-text">
                Ce contenu est protégé par le droit d'auteur. Toute reproduction à l'extérieur des forums Alloprof est interdite et pourra être considérée comme une violation du droit d'auteur.
            </p>
            <div class="embedImage-img-copyright-img">
                <img alt="i-icon" src="{{ IconImage }}" width="16" height="16">
            </div>
        </div>
    </div>
</div>
